<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="logIn()">
      <div>
        <mat-form-field>
          <input formControlName="userName" type="text" matInput placeholder="Username">
          <mat-error *ngIf="loginForm.dirty && loginForm.get('userName')!.value.length==0">
            Username is required
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input formControlName="password" type="password" matInput placeholder="Password">
          <mat-error *ngIf="loginForm.dirty && loginForm.get('password')!.value.length==0">
            Password is required
          </mat-error>
        </mat-form-field>
      </div>

      <p *ngIf="error" class="error">
      {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button [disabled]="!enableSubmitButton()">Log in</button>
      </div>
    </form>
    Not registered yet? 
    <a style="color:dodgerblue; text-decoration: none;" routerLink="/signup">Sign up</a>
  </mat-card-content>
</mat-card>


<!-- <div>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" >
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
</div> -->