      <!--Search Button-->
      <mat-form-field appearance="fill" >
        <mat-label>Select a priority</mat-label>
        <mat-select>
          <mat-option (click)="selected = 'all'" value="0">All</mat-option>
          <mat-option (click)="selected = 'sender'" value="1">Sender</mat-option>
          <mat-option  (click)="selected = 'subject'" value="2">Subject</mat-option>
          <mat-option (click)="selected = 'reciever'" value="3">Reciever</mat-option>
         </mat-select>
      </mat-form-field>
    <input type="text" placeholder="Filter"  aria-label="Filtering">
    <button (click)="search()"> Search</button>
<div>
  <!--<div *ngIf="dataSource != undefined">
    <table *ngIf="view" mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="select">

      </ng-container>
      <ng-container  [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <div *ngIf="column == ' '">
          <td mat-cell *matCellDef="let row" >
            <mat-checkbox
                          (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                          >
            </mat-checkbox>
          </td>
        </div>

        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <div *ngIf="column == 'body'"
             ><td mat-cell (click)="addClickedRows(emp)" *matCellDef="let emp">{{emp[column][column]}}</td>
            </div>

             <div *ngIf="column == 'subject'">
               <td mat-cell (click)="addClickedRows(emp)" *matCellDef="let emp">{{emp['header'][column]}}</td>
              </div>
        <td mat-cell (click)="addClickedRows(emp)" *matCellDef="let emp"> {{emp[column]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="!(router.url.includes('Profile') || router.url.includes('Create'))">
     Paginator buttons--
    <button (click)="decreasePage()">⬅️</button>
    {{page}}
    <button (click)="increasePage()" >➡️</button>
    </div>-->
</div>
