<div *ngIf="main">
<button (click)="getcontact()"> Contact </button>
<button (click)="getFolder()"> folders</button>
</div>

<div *ngIf="here1">

<button (click)="back()"> get back</button>
<h2>My Contacts</h2>
<div class="gret">
<div *ngIf="dataSource != undefined" class="main">
  <table  mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="select">

    </ng-container>
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">

      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <div *ngIf="column == 'body'"
            ><td mat-cell *matCellDef="let emp">{{emp[column][column]}}</td></div>
      <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div class="pad">
  <div class="add">
    <label> add name</label>
    <input type="text" [(ngModel)]="added">
    <label> add Email</label>
    <input type="text" [(ngModel)]="added">
    <button> add </button>
  </div>

  <div class="edit">
    <button> delete </button>
    <label> change name</label>
    <input type="text" [(ngModel)]="added">
    <button> confirm </button>
    <label> add Email</label>
    <input type="text" [(ngModel)]="added">
    <button> add </button>


  </div>
<button (click)="addFolder()"> zrrft</button>
</div>
</div>
</div>

<!--<div *ngIf="here2">
<button (click)="back()"> get back</button>
<h2>My Folder</h2>
 <ul class="contact">
  <li *ngFor="let foldre of Folders"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <div>{{contact.name}}</div>
    <div>{{contact.username}}</div>
    <div*ngFor="let email of contact.emails">{{email}}</div>
  </li>
 </ul>

 <div class="edit* ngIf="selectedcontact">
    <label for="selectedContact">Hero name: </label>
    <input id="selectedContact" [(ngModel)]="selectedContacted.name" placeholder="name">
    <button> confirm </button>
 </div>

  <div ngIf="addFolder">
    <label for="selectedContact">Hero name: </label>
    <input id="selectedContact" [(ngModel)]="selectedContacted.name" placeholder="name">
    <button> confirm </button>
 </div>

</div>-->
