<div *ngIf="main">
<button (click)="getcontact()"> Contact </button>
<button (click)="getFolder()"> folders</button>
</div>

<div *ngIf="here1">
<button (click)="back()"> get back</button>
<h2>My contats</h2>
 <ul class="contact">
  <li>
    <div>contact.name</div>
    <div>contact.username</div>
    <!--<div*ngFor="let email of contact.emails">{{email}}</div>-->
  </li>
 </ul>



  <div ngIf="addContact">

    <button> add </button>
 </div>

</div>

<!--<div *ngIf="here2">
<button (click)="back()"> get back</button>
<h2>My Folder</h2>
 <ul class="contact">
  <li *ngFor="let foldre of Folders"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <div>{{contact.name}}</div>
    <div>{{contact.username}}</div>
    <div*ngFor="let email of contact.emails">{{email}}</div>
  </li>
 </ul>

 <div class="edit* ngIf="selectedcontact">
    <label for="selectedContact">Hero name: </label>
    <input id="selectedContact" [(ngModel)]="selectedContacted.name" placeholder="name">
    <button> confirm </button>
 </div>

  <div ngIf="addFolder">
    <label for="selectedContact">Hero name: </label>
    <input id="selectedContact" [(ngModel)]="selectedContacted.name" placeholder="name">
    <button> confirm </button>
 </div>

</div>-->
