<button> Contact </button>
<button> folders</button>

<!--<div *ngIf="here1">
<button> get pack</button>
<h2>My Heroes</h2>
 <ul class="contact">
  <li *ngFor="let contact of contacts"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <div>{{contact.name}}</div>
    <div>{{contact.username}}</div>
    <div>{{contact.emails}}</div>
  </li>
 </ul>

 <div *ngIf="selectedcontact">

    <label for="selectedContact">Hero name: </label>
    <input id="selectedContact" [(ngModel)]="selectedContacted.name" placeholder="name">
    <button> confirm </button>
 </div>

</div>-->
