<mat-sidenav-container>

  <mat-sidenav mode="side"  disableClose  opened position="start" class="side">
    <button  [disabled]="profile" class="button" [routerLink]= "['/main','Profile']"queryParamsHandling="preserve" routerLinkActive="active">Profile</button>
    <button  [disabled]="make" class="button" [routerLink]= "['/main','Create']"queryParamsHandling="preserve" routerLinkActive="active">Make message</button>
    <button  [disabled]="viewI" class="button"[routerLink]="['/main','Inbox']" queryParamsHandling="preserve" routerLinkActive="active">Inbox</button>
    <button  [disabled]="viewS" class="button"[routerLink]="['/main','Sent']"queryParamsHandling="preserve" routerLinkActive="active">Sent</button>
    <button  [disabled]="viewD" class="button"[routerLink]="['/main','Drafted']"queryParamsHandling="preserve" routerLinkActive="active">Draft</button>
    <button  [disabled]="viewT" class="button"[routerLink]="['/main','Deleted']" queryParamsHandling="preserve" routerLinkActive="active">Deleted</button>
    <button  [disabled]="search" class="button"[routerLink]="['/main','Search']"queryParamsHandling="preserve"  routerLinkActive="active">Search</button>
    <button class="logout">LogOut</button>
   </mat-sidenav>
   <router-outlet></router-outlet>


   <mat-sidenav-content>
     <div *ngIf="dataSource.data != null">
    <table *ngIf="view" mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="select">

      </ng-container>
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <div *ngIf="column == ' '">
          <th mat-header-cell *matHeaderCellDef>
            selected
          </th>
          <td mat-cell *matCellDef="let row" >
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </div>

        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <div *ngIf="column == 'body'"><td mat-cell *matCellDef="let emp">{{emp[column][column]}}</td></div>
        <td mat-cell *matCellDef="let emp"> {{emp[column]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
    <button (click)="decreasePage()">⬅️</button>
    {{page}}
    <button (click)="increasePage()" >➡️</button>
    <app-profile *ngIf="profile"></app-profile>
    <app-maker *ngIf="make"></app-maker>
    <app-search *ngIf="search"></app-search>
   </mat-sidenav-content>




  <mat-sidenav mode="side"  disableClose  opened position="end" class="side1">
   <div class="filter">
    <mat-select name="FILTEES" [(value)]="selected" [(ngModel)]="filter">
      <mat-option value="None">None</mat-option>
      <mat-option value="Subject" >Subject</mat-option>
      <mat-option value="Sender" >Sender</mat-option>
    </mat-select>
    <button class="filler">filter</button>
  </div>

    <div>
    <button>Date</button>
    <button>Pirority</button>
    <button>Sender</button>
    <button>Receiver</button>
    <button>Subject</button>
    <button>Body</button>
    <button>Attachments</button>
  </div>
</mat-sidenav>

</mat-sidenav-container>
