<mat-sidenav-container>

  <mat-sidenav mode="side"  disableClose  opened position="start" class="side">
    <button  [disabled]="profile" class="button" [routerLink]= "['/main','Profile']"queryParamsHandling="preserve" routerLinkActive="active">Profile</button>
    <button  [disabled]="make" class="button" [routerLink]= "['/main','Create']"queryParamsHandling="preserve" routerLinkActive="active">Make message</button>
    <button  [disabled]="viewI" class="button"[routerLink]="['/main','Inbox']" queryParamsHandling="preserve" routerLinkActive="active">Inbox</button>
    <button  [disabled]="viewS" class="button"[routerLink]="['/main','Sent']"queryParamsHandling="preserve" routerLinkActive="active">Sent</button>
    <button  [disabled]="viewD" class="button"[routerLink]="['/main','Drafted']"queryParamsHandling="preserve" routerLinkActive="active">Draft</button>
    <button  [disabled]="viewT" class="button"[routerLink]="['/main','Deleted']" queryParamsHandling="preserve" routerLinkActive="active">Deleted</button>
    <button  [disabled]="search" class="button"[routerLink]="['/main','Search']"queryParamsHandling="preserve"  routerLinkActive="active">Search</button>
    <button class="logout">LogOut</button>
   </mat-sidenav>
   <router-outlet></router-outlet>


   <mat-sidenav-content>
    <app-view *ngIf="view"></app-view>
    <app-profile *ngIf="profile"></app-profile>
    <app-maker *ngIf="make"></app-maker>
    <app-search *ngIf="search"></app-search>
   </mat-sidenav-content>




  <mat-sidenav mode="side" disableClose opened  position="end" class="side1">
   <div class="filter">
    <mat-select name="FILTEES" [(value)]="selected">
      <mat-option value="None">None</mat-option>
      <mat-option value="Subject" >Subject</mat-option>
      <mat-option value="Sender" >Sender</mat-option>
    </mat-select>
    <button class="filler">filter</button>
  </div>

    <div>
    <button>Date</button>
    <button>Pirority</button>
    <button>Sender</button>
    <button>Receiver</button>
    <button>Subject</button>
    <button>Body</button>
    <button>Attachments</button>
  </div>
</mat-sidenav>

</mat-sidenav-container>
