<mat-sidenav-container>
<!--Folders SideNav-->
  <mat-sidenav mode="side"  disableClose  opened position="start" class="side">
    <button class="button" (click) = "refresh()">⟳</button>
    <button  [disabled]="profile" class="button" [routerLink]= "['/main','Profile']"queryParamsHandling="preserve" routerLinkActive="active">Profile</button>
    <button  [disabled]="make" class="button" [routerLink]= "['/main','Create']"queryParamsHandling="preserve" routerLinkActive="active">Make message</button>
    <button  [disabled]="search" class="button"[routerLink]="['/main','Search']"queryParamsHandling="preserve"  routerLinkActive="active">🔎</button>
    <div>
      <button *ngFor="let fold of folders" class="button" [routerLink]= "['/main',fold]"queryParamsHandling="preserve" routerLinkActive="active">
        {{fold}}
      </button>
    </div>
    <button (click) = "Logout()" class="logout" routerLinkActive = "active">LogOut</button>
   </mat-sidenav>
   <router-outlet></router-outlet>

   <mat-sidenav-content>

    <!--PROFILE COMPONENT-->
    <app-profile *ngIf="profile"></app-profile>
    <!--MESSAGE CREATION COMPONENT-->
    <app-maker *ngIf="make"></app-maker>
    <div *ngIf="search" class = 'search'>
      <!--Search Button-->
    <form [formGroup]="searchForm" (ngSubmit)="searchEmails()">
      <mat-form-field  appearance="fill" >
        <mat-label>Select a priority</mat-label>
        <mat-select>
          <mat-option (click)="searchSelected = fold" *ngFor="let fold of searchcriteria" [value]="fold">{{fold}}</mat-option>
         </mat-select>
      </mat-form-field>
      <input type="text" matInput placeholder="Filter" formControlName="searchField" aria-label="Filtering">
      <button> Search</button>
    </form>
    </div>
  <!--Show Message on CLICK-->
  <div class ="view" *ngIf="clickedRows.length != 0">
    <button (click)="clickedRows = []">go back</button>

    <div >
      TO: <b *ngFor="let rec of clickedRows[0].header.recieverIds">{{rec}}, </b>
    </div>
    <div>
      FROM: <b>{{clickedRows[0].header.senderId}}</b>
    </div>
    <div>
      SUBJECT: <b>{{clickedRows[0].header.subject}}</b>
    </div>
    <div>
      Date: <b>{{clickedRows[0].date}}</b>
    </div>
    <div>
      Body: <b>{{clickedRows[0].body.body}}</b>
    </div>
    <div>
      attachements: <div *ngFor="let att of clickedRows[0].attachments.attachements"><b><a href="file:///{{att}}" download>attachement</a></b></div>
    </div>
  </div>

   </mat-sidenav-content>



<!--Folder Email Side Nav-->
  <mat-sidenav mode="side"  disableClose  opened position="end" class="side1">
    <button (click)="sorting('Date')">Date</button>
    <button (click)="sorting('priority')">Pirority</button>
    <button (click)="sorting('body')">Body</button>
<!--Folder Tables-->
  <div *ngIf="dataSource != undefined">
    <table *ngIf="view || search" mat-table [dataSource]="dataSource" >
      <ng-container matColumnDef="select">

      </ng-container>
      <ng-container  [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <div *ngIf="column == ' '">
          <td mat-cell *matCellDef="let row" >
            <mat-checkbox
                          (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row['ID']) : null"
                      [checked]="selection.isSelected(row)"
                          >
            </mat-checkbox>
          </td>
        </div>

        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
        <div *ngIf="column == 'body'"
             ><td mat-cell (click)="addClickedRows(emp)" *matCellDef="let emp">{{emp[column][column]}}</td>
            </div>

             <div *ngIf="column == 'subject'">
               <td mat-cell (click)="addClickedRows(emp)" *matCellDef="let emp">{{emp['header'][column]}}</td>
              </div>
        <td mat-cell (click)="addClickedRows(emp)" *matCellDef="let emp"> {{emp[column]}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="!(router.url.includes('Profile') || router.url.includes('Create'))">
    <!--Paginator buttons-->
    <button (click)="decreasePage()">⬅️</button>
    {{page}}
    <button (click)="increasePage()" >➡️</button>
    </div>
    <!--------------------------------------------------------------------------------------------------------->
    <div *ngIf="!selection.isEmpty()">
      <button *ngIf="folder != 'trash'" (click) ="DeleteSelected()">
        Delete
      </button>

      <mat-form-field appearance="fill"style="margin-left: 10px;">
        <mat-label>Folder</mat-label>
        <mat-select>
            <mat-option (onSelectionChange)="selected = fold" *ngFor="let fold of folders" [value]="fold">
            {{fold}}
          </mat-option>
        </mat-select>
        <button (click) ="MoveSelected()" >
          move
        </button>
      </mat-form-field>
    </div>

</mat-sidenav>

</mat-sidenav-container>
