mat-sidenav-container {
  height: 100%;
}

.side{
  background-color:#797979;
  width: 200px;
  padding: 0;
  border: 0;
}
.view{
  background-color:#272727;

}
button{
  transition-duration: 0.4s;
  border: 0;
  padding: 25px;
  height: 62px;
  background-color:#272727;
  color:  white;
  font-weight: bold;
}
button:hover{
  background-color:#797979;
  color:  rgb(0, 0, 0);
}
.button{
  width: 200px;
  height: 125px;
  margin:0;
  border: 0;
  box-sizing: border-box;

}
mat-select{
  transition-duration: 0.4s;
  border: 0;
  width: 78%;
  padding: 25px;
  height: 62px;
  background-color:#272727;
  color:  white;
  font-weight: bold;

}
.button:hover{
  background-color:#797979;
  color:  rgb(0, 0, 0);
}

.side1{
  background-color:#232627;
  width: 428px;
  padding: 0;
  border: 0;

}
mat-sidenav-content{
  background-color:#272727;
}
.logout{
  width: 100%;
  height: 62px;
  background-color: rgb(59, 24, 24);
}
.logout:hover{
  color:#cc8383;
  background-color: rgb(104, 60, 60);
}
.filter{
  width: 100%;
}
.filler{
  width: 20%;
}
input{
  border:3px solid white;
  width: 982px;
  height: 50px;
  font-size: 30px;
  width: 80%;
}
table{
  background-color:#191a1a;
  transition-duration: 0.4s;
  border-color: whitesmoke;
  width: 100%;
  height: 62px;
}
mat-paginator{
  background-color:#191a1a;

}

mat-column {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;

  padding-left: 16px;
  font-size: 20px;
}



mat-column {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
