<mat-card>
    <mat-card-title>Signup</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="signUp()">
        <div>
          <mat-form-field>
            <input formControlName="userName" type="text" matInput placeholder="Username">
            <mat-error *ngIf="signupForm.dirty && signupForm.get('userName')!.value.length==0">
              Username is required
            </mat-error>
            <!-- <mat-error *ngIf="">
              Username is taken
            </mat-error> -->
          </mat-form-field>
        </div>

        <div>
            <mat-form-field>
              <input formControlName="email" type="email" matInput placeholder="Email">
              <mat-error *ngIf="signupForm.dirty && signupForm.get('email')!.value.length==0">
                Email is required
              </mat-error>
              <!-- <mat-error *ngIf="">
                Email belongs to another user
              </mat-error> -->
            </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input formControlName="password" type="password" matInput placeholder="Password">
            <mat-error *ngIf="signupForm.dirty && signupForm.get('password')!.value.length==0">
              Password is required
            </mat-error>
            <!-- <mat-error *ngIf="">
              Password is not available
            </mat-error> -->
          </mat-form-field>
        </div>
      
        <p *ngIf="error" class="error">
        {{ error }}
        </p>
  
        <div class="button">
          <button type="submit" mat-button mat-raised-button [disabled]="!enableSubmitButton()">Sign up</button>
        </div>
      </form>
      Already registered?
      <a style="color:dodgerblue; text-decoration: none;" routerLink="/login">Log in</a>
    </mat-card-content>
</mat-card>

<!-- <div>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" >
        <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
</div> -->