

  <form class="form">
    <mat-form-field  class="form"  appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [(ngModel)]="selected"
             [formControl]="myControl"
             [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div>
    <button>Date</button>
    <button>pirority</button>
    <button>Sender</button>
    <button>recevicer</button>
    <button>Subject</button>
    <button>Body</button>
    <button>Attachments</button>
  </div>
  <div>{{selected}}</div>



